body {
  margin: 0;
  background-color: rgb(234, 221, 172);
}
body.noscroll {
  overflow-y: hidden;
}
*{
  font-family: 'raleway','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1, h2, h3, h4, h5, p, .mdl-button{
  font-family: "raleway","Roboto","Helvetica","Arial",sans-serif;
}
h1, h2 {
  font-weight: 400;
}
.preloader-wrapper {
  margin: auto;
  display: inherit;
}
.gold {
  background: rgb(234, 221, 172) !important;
  color: rgb(206, 6, 209);
}

.gold.to {
  border: #FF9800 4px solid;
  border-radius: 0.3em;
  box-shadow: 1px 2px 10px #3e3232;
  padding-bottom: 1em;
  margin-bottom: -5em;
}

#page-desc.sdf {
    color: #c012c3 !important;
    background: rgb(234, 221, 172) !important;
}

#page-desc .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #9C27B0;
    font-size: 1.3rem;
}

/*spinner/page loader*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/preloader.gif') center no-repeat #fff;
}
.se-pre-con h4 {
  margin-top: 8%;
  text-align: center;
  color: #DC5753;
  font-weight: bold;
}
/*spinner ends here*/

#padder {
  height: 30px;
  width: 100%;
  background-color: white;
  color: rgb(206, 6, 209);
  border-top: 1px solid rgb(206, 6, 209);
  text-align: center;
}

#padder ul {
  margin-top: 5px;
}
#padder ul li {
  margin-right:8px;
  display: inline;
}

#padder ul li a {
  text-decoration: none;
  color: rgb(206, 6, 209);
}

nav.purple.accent-3 {
    z-index: 900;
}

ul#slide-out {
    z-index: 999;
}

nav .brand-logo {
    margin: 4px 1.2em;
    font-family: tangerine,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.2rem;
    font-weight: 500;
}

nav ul {
  margin-right: 1em;
}

nav ul a {
  font-size: 1.32rem;
  font-family: raleway;
}

#drawer_button {
    display: block;
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    font-size: 26px;
    line-height: 50px;
    font-family: raleway,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 12px;
    top: 0;
    left: 0;
    color: rgb(255,255,255);
    z-index: 4;
}

a.navLinks {
  transition: all ease-in-out .2s;
}
a.navLinks:hover {
    border-bottom: 3.5px solid #DEC97A;
    line-height: 61px;
}
nav ul a:hover {
    background: transparent;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #D500F9;
}

header#home {
  height: 43rem;
  background-image: url('../images/slide01.jpg');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  height: 95%;
  height: 95vh;
}

header#events-management {
  height: auto;
  background-image: url('../images/events-management.jpg');
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

header#catering {
  height: auto;
  background-image: url('../images/catering-service.jpg');
  width: 100%;
  background-size: 80% 100%;
  background-attachment: fixed;
}

header#blog {
  height: auto;
  background-image: url('../images/ev_blog_banner.jpg');
  width: 100%;
  /*background-size: ;*/
  background-attachment: fixed;
}

header#blog .page-heading h2 {
    margin-top: 1em;
    padding-bottom: 0em;
}

header#blog .page-heading p.eventables-string {
    font-family: tangerine,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    margin-top: 0;
    padding-bottom: 2em;
}

nav#admin-nav a {
	cursor: default;
}

#admin-nav+.page-heading {
  padding-top: 2em;
  padding-bottom: 4em;
}

span.modify-post span {
  position: absolute;
  top: 0;
}

span.modify-post span.edit {
  right: 0;
}

span.modify-post span.delete {
  left: 0;
}
#writeNewPost.modal {
  border: 5px double purple;
  max-height: 90%;
}
.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: purple;
  color: white;
  padding: 0.4em;
}
header#blog.admin .page-heading p.eventables-string {
    padding-bottom: 0em;
}

input.login_handles {
    width: auto;
    padding: 0 0.8em;
    font-size: 1.5em;
    background: white;
    color: purple !important;
}

input.login_handles::-moz-placeholder {
  color: purple !important;
}
input.login_handles::-ms-input-placeholder {
  color: purple !important;
}
input.login_handles::-webkit-input-placeholder {
  color: purple !important;
}
input.login_handles::placeholder {
  color: purple !important;
}

#eventables-password-reset {
  cursor:pointer;
}

.switch label {
      font-size: 1.2rem;
}

#page-splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CE06D1;
    background: radial-gradient(circle, #CE47CE, #CE06D1);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.top-area {
    height: 25em;
    background-image: url("../images/blog_batoul_table.jpg");
    margin-top: -1em;
}

.top-area .overlay {
    padding: 10em 1em;
    text-align: center;
}

#blog-splash>.col.s12 .card {
    padding: 0.5em 2em;
    margin-top: -3em;
}

#blog-splash>.col.s12 .card .flow-text {
  font-weight: 400;
}

.top-area .close {
  position: absolute;
  top: 1em;
  border: 1px solid white;
  padding: 3px 8px;
  border-radius: 50%;
  cursor: pointer;
}

.top-area .close.right {
  right: 1em;
}

.top-area .close.left {
  left: 1em;
}

#blog-splash {
    position: fixed;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #CE06D1;
    background: radial-gradient(circle, #CE47CE, #CE06D1);
    z-index: 10000;
    color: white;
}

.fixed-action-btn {
    bottom: 45px;
    right: 24px;
}

#error-message {
  font-size: 1.4em;
  display: block;
  width: 10em;
  margin: auto;
}

#user-ver .btn, #user-ver .btn-large, #user-ver .btn-flat {
    height: 46px;
    line-height: 46px;
    vertical-align: top;
}

.password-reset {
    font-size: 1.5em;
    margin-top: 0;
}

.file-field {
    z-index: -500;
}

#user-ver {
  margin-top: -4em;
  padding-bottom: 1em;
}

#eventables-sign-in-status.flow-text {
  font-weight: 400;
}

#blog_posts.container.row {
  width: 100%;
}

#blog_posts.row {
    margin-top: -8em;
}

#blog_posts .card {
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

#blog_posts .card .overlay {
    background-color: rgba(0, 0, 0, 0.59);
    padding: 2em;
}

#blog_posts .card .post_title {

}

#blog_posts .card .post_short {

}

#blog_posts .card button.btn {
    border-radius: 4em;
    clear: both;
    margin-bottom: 3em;
}

#blog_posts .card p.post-details {
  position: relative;
  margin-top: -2em;
}

header .page-heading p.eventables-string {
    font-family: tangerine,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5em;
}
header .page-heading h2 {
    margin-top: -1em;
    padding-bottom: 2em;
}

div.overlay {
  height: inherit;
  width: 100%;
/*  background-image: url('../images/overlay.png');*/
	background-color: rgba(0,0,0,0.3);
}

header#home a.btn-floating {
    position: absolute;
    /*right: 20%;*/
    right: 49%;
    left: 49%;
    bottom: 0em;
    z-index: 3;
    background: #CE06D1 !important;
    color: white !important;
}

.eventables-sub-slogan {
    padding-top: 160px;
    text-shadow: 2px 2px 2px #0C0C0D;
}

.eventables-sub-slogan h5,h4 {
  padding: 1px 0.6em;
  font-size: 30px;
  margin-bottom: -1em;
}

.eventables-sub-slogan h1 {
  font-size: 5.8rem;
}

#what-we-do .card .card-action {
    font-size: 1.5em;
    line-height: normal;
    font-weight: 500;
}

#what-we-do .card .card-image img{
  height: 15em;
}

section#covered-sticky #top {
  height: 30em;
  background: url('../images/covered-sticky.jpg');
  background-size: contain;
  background-attachment: fixed;
  width: 100%;
}

section#covered-sticky #bottom .flow-text {
  font-weight: normal;
}

section#covered-sticky #bottom button {
  border-radius: 2em;
}

section#covered-sticky #wide-area {
  height: 30em;
  background: url('../images/wide_area.jpg');
  background-size: 100%;
  background-attachment: fixed;
  width: 100%;
}

.card .card-action a {
  color: #CE06D1;
}

nav a.button-collapse i.fa.fa-bars {
  font-size: 0.9em;
}

/*#slide-out > li.purple.accent-3 > div > a > span*/
#slide-out .userView .name {
    position: relative;
    max-height: 160px;
    color: white;
    font-family: 'tangerine';
    font-size: 3rem;
}

.purple.accent-3 {
  background-color: #C012C3 !important;
}

.bold a {
    font-weight: 500;
    color: #6B007D;
}

.side-nav li.bold a:first-child, .side-nav .collapsible-header {
    border-bottom: #9C27B0 2px solid;
}

footer.page-footer .footer-copyright {
    font-weight: 400;
}

footer ul.social {

}

footer ul.social li {

}

footer ul.social li a {

}

footer .row .col {
    margin-bottom: 2rem;
    text-align: center;
}

/*events service pages*/
div#page-desc {
    height: auto;
    padding: 2% 1% 10%;
    margin-top: -1.5em;
    margin-bottom: -1.5em;
}
div#page-desc .card {
  padding: 0.1em 1em;
  min-height: 15em;
  margin-bottom: 3em;
}
div#page-desc h4 {
  margin-bottom: 1em;
}
div#page-desc ul {
    padding: 0.1em 2em;
}
div#page-desc ul li {
    list-style-type: circle;
    font-size: 1.5em;
    margin-left: 10px;
}
/*events service pages*/

/*events management*/

/*events management*/